html, body {
    width: 900px;
    margin: auto;
    font-family: sans-serif;
    color: #800;
}

.face {
    font-family: monospace;
    text-align: center;
    float: left;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.faces {
    background-color: #def;
    float: left;
}

.input {
    background-color: #fed;
    float: left;
    width: 860px; /* 900px - 2*20px */
    padding: 20px;
}

.input p {
    margin: 0;
}

canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    background-color:#ffffff;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    text-decoration:none;
}

button, .button {
    cursor: default;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 2px;
    background-color:#ededed;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
}
button:hover, .button:hover {
    background-color:#dfdfdf;
}
button:active, .button:active {
    position:relative;
    top:1px;
}
